<%- include("partials/header"); -%>

    
<section class="container">
  <main role="main" class="main" style="color:white">
    <h1 class="cover-heading">Donate Now !!</h1>
    <p class="lead">Your Plasma can save <span>Lives</span>.. Don't think. <br>Let's face this pandamic together <em>Be the helping hands</em></p>

       <button  class="home-btn" type="submit" onclick="window.location='/register';" name="button">Donate Plasma</button><br>
       <button  class="home-btn" type="submit" onclick="window.location='/login';" name="button"> Require Plasma</button>



  </main>

</section>

<%- include("partials/footer"); -%>
